body {
	margin: 0 auto;
}


.container {
	background-color: lightgrey;
	height: 50px;
	width: 100%;
	font-family: 
} 
.logo {
	padding-top: 10px

}

/*.links {
	display: inline-block;
}*/

nav ul {
	text-align: right;
	position: relative;
	right: 10px;
	top: -40px;
	

}

nav li {
	list-style-type: none;
}
