body {
	margin: 0 auto;
}


.container {
	background-color: lightgrey;
	height: 40px;
	width: 100%;
} 
.logo {
	padding-top: 10px;
	padding-left: 10px;
}

nav ul {
	text-align: right;
	position: relative;
	right: 10px;
	top: -45px;
}

nav li {
	list-style-type: none;
}
