body {
	margin: 0 auto;
}
nav {
	position: fixed;
}


.navcontainer {
	background-color: lightgrey;
	height: 40px;
	width: 100%;
} 

.logo {
	padding-top: 10px;
	padding-left: 10px;
	position: relative;
	display: inline-block;
}
.links {
	float: right;
	margin-left: 1160px;
	/*used this random 1170px to move the links as far right as possible
	Question: POST & ACCOUNT dissappear on my smaller screen*/
}

 a:link {
	color: purple;
	text-decoration: none; 
}
.maincontainer {
	padding-left: 75px;
	padding-top: 100px;
	font-size: 0;
	/*This sets my div side by side but font-0 makes font dissappear*/

}
/* Search bar setup */

.searchcontainer {
	height: 20px;
	width: 50%;
	border: 1px solid black;
	position: relative;
}	
.searchcontainer-1 {
	position: relative;
	display: inline-block;
	width: 60%;
}

.searchcontainer-2 {
	/*left: 0px;
	bottom: 0px;*/
}

/* Prevous, Current,  Next Controls */
.inner {
	margin-top: 50px;
	width: 10%;
	height: 30px;
	display: inline-block;

}

.inner-1 {
}
.inner-2 {
	font-size: 7px;
}
.inner-3 {
}




/*
nav ul {
	text-align: right;
	position: relative;
	right: 10px;
	top: -45px;
	/*ul position: relative
}
nav li {
	/*display: inline-block;
	width: 50%;
}
*/
/*div li {
	list-style-type: none;
}*/


/*}
