body {
	margin: 0 auto;
 }

nav {
	position: fixed;
}
main {
	padding-left: 80px;
	padding-top: 100px;
}

.navcontainer {
	background-color: lightgrey;
	height: 50px;
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
	position: relative;
 }

.li-one {
	position: relative;
 }

.li_link2 {
	position: absolute;
	display: inline-block;
	width: 10%;
	right: 10px;
	top: 20px;
  }
.li_link3 {
	position: absolute;
	display: inline-block;
	width: 5%;
	top: 20px;
	right: 50px;
 }


a:hover {
	text-decoration: underline;
}
a {
	color: purple;
	text-decoration: none;
} 
.searchcontainer {
	position: relative;
	height: 200px;
	width: 50%;
	border: 1px dotted black;
}
/*.searchcontainer-2 {
	display: inline-block;
	height: 20px;
	width: 25px;
	/*left: 0px;
	bottom: 0px;*/
}

.searchcontainer-1 {
	position: relative;
	display: inline-block;
	width: 60%;
	height: 20px;
}



 Prevous, Current,  Next Controls 
.inner {
	margin-top: 50px;
	width: 10%;
	height: 30px;
	display: inline-block;

}

nav li {
	display: inline-block;
	width: 50%;
	}*/
