body {
	margin: 0 auto;
 }

nav {
	position: fixed;
	width: 100%;

}
main {
	padding-left: 120px;
	padding-top: 100px;
}
.navcontainer {
	padding-top: 5px;
	height: 60px;
	width: 100%;
	background: lightgray;
 }
.navcontainer ul li{
	display: inline-block;
	position: relative;
	font-weight: bold;
	font-size: 18px;
 }
 .navcontainer ul li:nth-child(2) {
 	position: absolute;
 	right: 70px; 
}
 .navcontainer ul li:last-child {
 	position: absolute;
 	right: 120px;
}
.navcontainer ul li a {
	text-decoration: none;
	color: purple;
}
.searchcontainer {
	height: 70px;
	width: 60%;
}

.searchcontainer form label {
	position: relative;
	display: block;
	margin-bottom: 10px;
	font-weight: 600;
}
.searchcontainer form input:nth-child(2) {
	height: 25px;
	width: 80%;
	margin-bottom: 0;
	font-size: 16px;
	padding-left: 5px;
}
.searchcontainer form input:last-child {
	vertical-align: bottom;
}
.buttons button {
	background: transparent;
	border-style: none;
	border: 1px solid #BBB4B4;
	margin-right: -5px;
}
.buttons button a {
	text-decoration: none;
	color: black;
}
.listings ul {
	list-style: none;
	color: #BBB4B4;
}
.listings li a {
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 5px;
	font-weight: 600;
	text-decoration: none;
	color: blue;
}


